@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Eleven Note</h1>
    <p class="lead">This application has been developed with ASP.NET<br/>It demonstrates a simple CRUD application</p>
    <p><a href="https://daschroeder.github.io/" class="btn btn-info">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ElevenNote is a powerful, notetaking application that
            enables users to record everything life's most important moments, whether it's
            a personal adventure or a business meeting, capture every important moment.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    @*<div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ElevenNote is a powerful, notetaking application that
            enables users to record everything life's most important moments, whether it's
            a personal adventure or a business meeting, capture every important moment.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ElevenNote is a powerful, notetaking application that
            enables users to record everything life's most important moments, whether it's
            a personal adventure or a business meeting, capture every important moment.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>*@
</div>